
/* リセットCSS */
*,*::before,*::after{box-sizing:border-box}html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role='list'],ol[role='list']{list-style:none}body{min-height:100vh;line-height:1.5}h1,h2,h3,h4,button,input,label{line-height:1.1}h1,h2,h3,h4{text-wrap:balance}a:not([class]){text-decoration-skip-ink:auto;color:currentColor}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}textarea:not([rows]){min-height:10em}:target{scroll-margin-block:5ex}

body {
  background-color: #d9d9d9;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background-color: #66d48b;
  color: #fff;
}

.title a {
  text-decoration: none;
}

.contents {
  width: 562px;
  margin: 0 auto;
  padding: 56px;
}

.thread-list {
  margin-top: 16px;
  padding: 0;
  border: 1px solid #565656;
  background-color: #fff;
  list-style-type: none;
}

.thread-item {
  padding: 8px;
}

.thread-item:not(:first-child) {
  border-top: 1px solid #565656;
}

.thread-new {
  margin-top: 16px;
  padding-top: 100px;
}

.thread-new-input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.thread-new-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.button {
  padding: 4px 24px;
  border: none;
  background-color: #66d48b;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
